@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@700&display=swap');
:root{
    --White: hsl(0, 0%, 100%);
 --LightGrey: hsl(217, 12%, 63%);
 --MediumGrey: hsl(216, 12%, 54%);
 --DarkBlue: hsl(213, 19%, 18%);
 --VeryDarkBlue: hsl(216, 12%, 8%);
 --Orange: hsl(25, 97%, 53%);
}

body{
    background: var(--VeryDarkBlue); 
    color: #fff;
    font-size: 15px; 
    font-style: "Overpass",sans-serif;  
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.card{
    width: 350px;
    background: var(--DarkBlue);
    padding: 20px;
    border-radius: 20px;
}
.btn-container button{
    padding: 15px;
    height: 40px;
    background: var(--DarkBlue);
    border: none;
    outline: none;
    border-radius: 50%;
    margin: 5px;
    color: var(--LightGrey);
}
.btn-container button:active{
    background: var(--Orange);
    color: #fff;
}
.btn-container button:hover{
    background-color: var(--LightGrey);
    color: #fff;
}
.btn-container{
    margin-bottom: 20px;
}
.card-container{
    padding: 10px;
}
.btn-rating{
    width: 100%;
    padding: 10px 20px;
    border: none;
    outline: none;
    background: var(--Orange);
    color: #fff;
    border-radius: 20px;
}
.btn-rating:hover{
    background: #fff;
    color: var(--Orange);
}
.card-container img{
    background: hsl(212,17%,20%);
    padding: 10px;
    border-radius: 50%;
}
.card-body{
    margin-top: 30px;
    margin-bottom: 30px;
}
.hide{
    display: none;
}
